<div class="columns">
    <div class="column"><%= render "users/info" %></div>
    <div class="column">
        <%= render "posts/form" %>
        <%= render "shared/timeline", posts: @posts %>
    </div>
    <div class="column"></div>
</div>