<div class="box">
    <h2 class="title is-4">Create a new post</h2>
    <%= form_with(model: @post, local: true) do |form| %>
        <%= form.text_area :content, class: "input mb-4", style: "resize: vertical" %>
        <%= form.submit "Post", class: "button is-fullwidth is-info" %>
    <% end %>
</div>