<div class="columns">
    <div class="column">
        <%= render "users/info" %>
    </div>
    <div class="column">
        <%= render "posts/form" %>
        <%= render "shared/timeline", posts: current_user.sorted_timeline_posts %>
    </div>
    <div class="column">
        <%= render "shared/received-requests" %>
    </div>
</div>