<h1>Create a new post</h1>

<%= form_with(model: @post, local: true) do |form| %>
    <%= form.label :content %></br></br>
    <%= form.text_area :content %></br></br>
    <%= form.submit %>
<% end %>