/* 
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: Arial, Helvetica, sans-serif;
}

#navbar-links {
    text-align: right;
    font-size: 20px;
    margin: 20px;
    grid-area: links;
    vertical-align: middle;
}

#navbar-links > a, #logo > a {
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

#navbar-links > a:hover {
    text-decoration: underline;
}

#navbar {
    background: #007ea7;
    display: grid;
    grid-template-areas: "logo notice links";
    gap: 30px;
}

#logo {
    text-align: left;
    font-size: 20px;
    margin: 20px;
    grid-area: logo;
}

#logo > a:hover {
    text-decoration: underline;
}

#status-updates {
    grid-area: notice;
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 20px;
}

#main-container {
    display: grid;
    grid-template-areas: "col1 col2 col3"
                         "col4 col5 col6";
    gap: 30px;
}

#profile-info {
    grid-area: col1;
}

#post-form-and-timeline, #user-timeline {
    grid-area: col2;
}

#friend-requests {
    grid-area: col3;
}

#new-post {
    background-color: lightgrey;
    padding: 20px;
}

#new-post > h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

input {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.post {
    background-color: lightblue;
    padding: 20px;
    margin-bottom: 20px;
}

.post-user-identifier {
    font-size: 20px;
}

.post-user-identifier > a, .like-user-identifier > a, .comment-user-identifier > a, .request-user-identifier > a {
    text-decoration: none;
    color: black;
}

.post-user-identifier > a:hover, .like-user-identifier > a:hover, .comment-user-identifier > a:hover, .request-user-identifier > a:hover {
    text-decoration: underline;
}

.post-time-identifier {
    font-size: 15px;
}

.main-post-section {
    border-bottom: 1px dashed black;
    padding-bottom: 20px;
}

.request-body {
    padding-bottom: 20px;
}

.friend {
    grid-area: col2;
}

.strangers {
    grid-area: col5;
}

.pending-sent-request {
    grid-area: col3;
}

.pending-received-request {
    grid-area: col6;
}